* { 
	box-sizing: border-box;
	/*color: white;*/
}

html {
  /*background: #FFE5D9;*/
  width: 100%;
}

input {
	position: relative;
	top: 30px;
	left: -10px;
	font-family: 'Indie Flower', cursive;
	
}

body {
  background: #FFE5D9;
}



header	{
	text-align: center;
	background-image: url("https://preview.ibb.co/iVnJAG/coffee.jpg");
	background: opacity: 0.3;
	/*color: #9D8189;*/
	color: white;
	height: 250px;
	font-size: 10%;
	margin-right: none;
	padding-right: none;
}

h1 {
	/*font-size: 40px;*/
	font-family: 'Indie Flower', cursive;
}

div.desc {
	color: #9D8189;
}

img.logo{
	width: 10%;
	float: left;
	top: 20px;
	position: fixed;
	display: block;
	margin-left: 20px;
	opacity: 0.3;
	/*mar
	gin-left: 20px;*/
}

main {
	text-align: center;
}

.logo {
	width: 400px;
}
.myResults {
	text-align: center;
	border: solid 2px #D8E2DC;
	border-width: 5px;
	border-radius: 100px;
	padding: 10px;
	margin: auto;
	width: 500px;
	/*padding: 5px;*/
	position: relative;
	top: 20px;
}

.Desc {
	font-family: 'Indie Flower', cursive;
	font-size: small;
}

#myButton {
	color: black;
	border: black;
}
#myButton:hover {
	background: #9D8189;
}

.myButton {
	
	position: relative;
	/*top: -130px;*/
	margin: auto;
	width: 200px;
	height: 37px;
	display: block;
	background: #D8E2DC;
	top: 15px;
	border-radius: 6px;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
}
button:hover {
	border-radius: 50%;

}

.js-search-results {
	margin: auto;
	/*width: 400px;*/
	position: relative;
	color: #D8E2DC;
}

label {
	color: #9D8189;
	font-size: x-large;
	position: relative;
	font-family: 'Indie Flower', cursive;
	top: 10px;
	left: 60px;
}

footer {
	/*text-align: center;*/
	font-size: xx-small;
	color: #9D8189;
	position: relative;
	text-align: center;
	width: 100%;
	top: 100%;
	font-family: 'Indie Flower', cursive;
}
span {
	font-size: small;
	color: #9D8189;
	/*text-align: center;*/
}

button {
	color: black;
	text-align: center;
	border: blue 2px solid;
	width: 100%;
	/*border-radius: 50px;*/
	font-family: 'Indie Flower', cursive;
	/*position: absolute;*/
	
}

h2 {
	color: #9D8189;
	font-family: 'Indie Flower', cursive;
}

p {
	display: block;
	width: 100%;
	color: #9D8189;
	margin: auto;
	font-family: 'Indie Flower', cursive;
}



.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://media.giphy.com/media/3osBLyUDlQr2HC4gVi/giphy.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

